<!-- skip: users.list -->

<ul class="breadcrumb breadcrumb-page">
    <li><i class="fa fa-dashboard"></i><a data-ui-sref="app.dashboard">Dashboard</a></li>
    <li><a data-ui-sref="app.manage">Manage</a></li>
    <li class="active">Products</li>
</ul>

<div class="page-header">
    <h1 class="anim-slide-left anim-fade"><i class="fa fa-gear page-header-icon"></i>&nbsp;&nbsp; Manage Products </h1>
    <div class="pull-right anim-fade">
        <a class="btn btn-primary btn-rounded btn-labeled" data-ng-click="add()" ladda="adding"> <span class="btn-label icon fa fa-plus-circle"></span> Add Product </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">

                <ul class="nav nav-tabs nav-tabs-xs">
                    <li class="active"> <a href="" data-toggle="tab" data-ng-click="tab = 'active'">Active<span class="badge badge-warning" data-ng-bind="activeProducts.length"></span></a> </li>
                    <li> <a href="" data-toggle="tab" data-ng-click="tab = 'archived'">Archived<span class="badge badge-danger" data-ng-bind="archivedProducts.length"></span></a> </li>
                </ul>

                <div class="tab-content tab-content-bordered">

                    <!-- ACTIVE -->

                    <div class="tab-pane fade" data-ng-class="{'active in': tab == 'active'}">

                        <!-- ITEMS -->

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-4"> </th>
                                <th class="col-md-2 hidden-xs"> Quantity Available </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="product in activeProducts | offset: currentActivePage*itemsPerPage | limitTo: itemsPerPage" data-ng-class="{first : $first}">
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-outline btn-rounded btn-labeled" data-ng-click="edit(product)">
                                        <span class="btn-label icon fa fa-pencil-square-o"></span> Edit
                                    </button> &nbsp;&nbsp;
                                    <span class="name" data-ng-bind="product.name"></span>
                                </td>
                                <td class="hidden-xs" ng-bind="product.quantityAvailable"></td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- EMPTY MESSAGE -->

                        <br/>
                        <div class="alert alert-warning no-entries" data-ng-show="activeProducts.length == 0"> There are no products </div>

                        <!-- PAGING -->

                        <div class="panel-footer" data-ng-show="activeProducts.length > 0">
                            <pagination ng-model="currentActivePage"
                                        total-items="activeProducts.length"
                                        max-size="5"
                                        boundary-links="true">
                            </pagination>
                        </div>

                    </div>

                    <!-- ARCHIVED -->

                    <div class="tab-pane fade" data-ng-class="{'active in': tab == 'archived'}">

                        <!-- ITEMS -->

                        <table class="table table-hover" data-ng-show="archivedUsers.length > 0">
                            <thead>
                            <tr>
                                <th class="col-md-4"> </th>
                                <th class="col-md-2 hidden-xs"> Quantity Available </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="product in archivedProducts | offset: currentArchivedPage*itemsPerPage | limitTo: itemsPerPage" data-ng-class="{first : $first}">
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-outline btn-rounded btn-labeled" data-ng-click="edit(user)">
                                        <span class="btn-label icon fa fa-pencil-square-o"></span> Edit
                                    </button> &nbsp;&nbsp;
                                    <span class="name" data-ng-bind="product.name"></span>
                                </td>
                                <td class="hidden-xs" ng-bind="product.quantityAvailable"></td>
                            </tr>
                            </tbody>
                        </table>
                        
                        <!-- EMPTY MESSAGE -->

                        <br/>
                        <div class="alert alert-warning no-entries" data-ng-show="archivedProducts.length == 0"> There are no archived products </div>
                        
                        <!-- PAGING -->

                        <div class="panel-footer" data-ng-show="archivedProducts.length > 0">
                            <pagination ng-model="currentArchivedPage"
                                        total-items="archivedProducts.length"
                                        max-size="5"
                                        boundary-links="true">
                            </pagination>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- end: people.view -->
