/* VALIDATION */

.help-block { display: none; }

.has-error .help-block { display: block; }

/* BREADCRUMBS */

.breadcrumb i { padding-right: 4px; }

/* PROGRESSBAR */

#ngProgress {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    background-color: #3399FF !important;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    color: #475466 !important;
    height: 2px;
    margin: 0;

    opacity: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
    z-index: 99998;
}

#ngProgress-container {
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

/* LOADING */

div.m-app-loading { position: fixed; }

div.m-app-loading div.animated-container {
    background-color: #333333;
    bottom: 0px;
    left: 0px;
    opacity: 1.0;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 999999;
}

/* Used to initialize the ng-leave animation state. */

div.m-app-loading div.animated-container.ng-leave {
    -webkit-transition: all linear 200ms;
    opacity: 1.0;
    transition: all linear 200ms;
}

/* Used to set the end properties of the ng-leave animation state. */

div.m-app-loading div.animated-container.ng-leave-active { opacity: 0; }

div.m-app-loading div.messaging {
    color: #FFFFFF;
    font-family: monospace;
    left: 0px;
    margin-top: -37px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 50%;
}

div.m-app-loading h1 {
    font-size: 26px;
    line-height: 35px;
    margin: 0px 0px 20px 0px;
}

div.m-app-loading p {
    font-size: 18px;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
}

/* GRAVATAR IMAGE LIST */
.user-gravatar-sm {
    border-radius: 25px;
    display: inline-block;
    height: 20px;
    margin: -2px 0px 0px;
    width: 20px;
}

.user-gravatar-md {
    border-radius: 40px;
    display: inline-block;
    height: 35px;
    margin: -2px 0px 0px;
    width: 35px;
}