
<!-- start: app.widgets.graph -->

<div class="stat-panel">
    <div class="stat-row">
        
        <div class="stat-cell col-sm-4 padding-sm-hr bordered no-border-r valign-top">
            <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;{{ ctrl.title }}</h4>
            <ul class="list-group no-margin">
                <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                    Sold Online <span class="label label-danger pull-right">128</span>
                </li>
                <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                    Sold In Stores <span class="label label-success pull-right">12</span>
                </li>
            </ul>
        </div>

        <div class="stat-cell col-sm-8 bg-primary padding-sm valign-middle">
            <div id="hero-graph" class="graph" style="height: 230px;">
                <div line-chart
                     line-data="ctrl.data"
                     line-xkey='y'
                     line-ykeys='["a", "b"]'
                     line-labels='["In-Store", "Online"]'
                     line-colors='["#31C0BE", "#c7254e"]' 
                     style="height: 230px">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end: app.widgets.graph -->